<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
</head>
<body>
	<header th:fragment="header">
		<nav class="uk-navbar-container">
			<div class="uk-container">
				<div uk-navbar>

					<div class="uk-navbar-right">

						<ul class="uk-navbar-nav">
							<li><a th:href="@{/login}"><span uk-icon="user"> </span> Registrate o Inicia Sesión </a></li>
						</ul>

					</div>

				</div>
			</div>
		</nav>
		<div class="uk-alert-success" th:if="${success !=null}" th:text=${success}></div>
		<div class="uk-alert-danger" th:if="${error !=null}" th:text=${error}></div>
		<div class="uk-alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
		<div class="uk-alert-primary" th:if="${info !=null}" th:text=${info}></div>
	</header>
    <main class="container text-center">
		<div class="uk-container">
			<h1>Inicia sesión</h1>
			<form method="POST" th:action="@{/autenticacion}" id="loginForm">
				<label for="username">Usuario: </label>
				<div class="uk-margin">
				<input class="uk-width-1-2@s uk-input uk-form-width-medium uk-form-large" type="text" name="usuario" id="usuario" />
				<br/>
				</div>
				<label for="password">Password: </label>
				<div class="uk-margin">
				<input class="uk-width-1-2@s uk-input uk-form-width-medium uk-form-large" type="password" name="pwd" id="pwd" />
				<br/>
				</div>
				<input class="uk-button uk-button-default" type="submit" value="Login"/>
			</form>
			<div>
				<a th:href="@{/registro}">Registrate</a>
			</div>
		</div>
    </main>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>