<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantillas/plantilla :: head}"></head>
</head>
<body>
	<header th:fragment="header">
		<div class="alert alert-success" th:if="${success !=null}" th:text=${success}></div>
		<div class="alert alert-danger" th:if="${error !=null}" th:text=${error}></div>
		<div class="alert alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
		<div class="alert alert-info" th:if="${info !=null}" th:text=${info}></div>
	</header>
	<div class="uk-container">
	<h1>Registro Usuario</h1>
	<form method="POST" th:object="${usuario}" th:action="@{/registro}">
		<div th:if="${#fields.hasErrors('*')}" class="uk-alert-warning uk-padding" role="alert">
			Verifique los siguientes errores
			<ul class="uk-list uk-list-disc uk-list-secondary">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
			</ul>
		</div>
		<h3>Datos Personales</h3>
		<label for="usuario.nombre">Nombre: </label>
		<input class="uk-input" type="text" th:field="*{nombre}" name="nombre"/>
      	<br/>
      	<label for="usuario.apellidoPaterno">Apellido Paterno: </label>
		<input class="uk-input" type="text" th:field="*{apellidoPaterno}" name="apellidoPaterno"/>
      	<br/>
      	<label for="usuario.apellidoMaterno">Apellido Materno: </label>
		<input class="uk-input" type="text" th:field="*{apellidoMaterno}" name="apellidoMaterno"/>
      	<br/>
		<label for="usuario.email">Email: </label>
		<input class="uk-input" type="text" th:field="*{email}" name="email"/>
		<br/>
      	<label for="usuario.password">Password: </label>
		<input class="uk-input" type="password" th:field="*{password}" name="password"/>
      	<br/>
      	<label for="usuario.numeroTelefonico">Número Telefónico: </label>
		<input class="uk-input" type="text" th:field="*{numeroTelefonico}" name="numeroTelefonico"/>
      	<br/>
      	<button type="submit"  class="uk-button uk-button-default">Crear Cuenta</button>
	</form>
	</div>
	<footer th:replace="~{plantillas/plantilla :: footer}"></footer>

</body>
</html>