<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Spring</title>
  <link th:href="@{/uikit/css/uikit.min.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
  <nav class="uk-navbar-container uk-margin-small-right" uk-navbar>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a th:if="${usuario.rol.id == 1}">Herramientas de administración</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a th:href="@{/admin/lista-usuarios}">USUARIOS</a>
              </li>
              <li>
                  <a th:href="@{/prestamo/lista-prestamos}">PRESTAMOS</a>
              </li>
              <li>
                  <a th:href="@{/transaccion/lista-transacciones}">TRANSACCIONES</a>
              </li>
              <li>
                  <a th:href="@{/admin/estadisticas}">ESTADISTICAS</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a th:href="@{/usuario/prestamos}">Mis prestamos</a></li>
        <li ><a th:href="@{/usuario/pagos}">Mis pagos</a></li>
        <li>
          <a th:href="@{/usuario/perfil}">¡Bienvenido <span th:text="${usuario.nombre}"></span>!</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a href="#">
                  <form method="POST" th:action="@{/logout}">
                    <input type="submit" value="Cerrar sesión"/>
                  </form>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="alert uk-alert-success" th:if="${success !=null}" th:text=${success}></div>
  <div class="alert uk-alert-danger" th:if="${error !=null}" th:text=${error}></div>
  <div class="alert uk-alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
  <div class="alert uk-alert-primary" th:if="${info !=null}" th:text=${info}></div>
</header>
<footer th:fragment="footer">
  <div style="width: 100%; background: #f3f3f3;" class="uk-margin-top">
      <div class="uk-margin uk-text-center">
        <h3>Información de contacto</h3>
        <p>Oswaldo Cabrera Pérez</p>
      </div>
  </div>
  <script th:src="@{/uikit/js/uikit.min.js}"></script>
  <script th:src="@{/uikit/js/uikit-icons.min.js}"></script>
</footer>
</body>
</html>
