<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Spring</title>
  <link th:href="@{/uikit/css/uikit.min.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
  <nav class="uk-navbar-container uk-margin-small-right" uk-navbar>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a th:if="${usuario.rol.id == 1}">Herramientas de administración</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a href="#">Usuarios</a>
              </li>
              <li>
                  <a href="#">Prestamos</a>
              </li>
              <li>
                  <a href="#">Transacciones</a>
              </li>
              <li>
                  <a href="#">Estadísticas</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a th:href="@{/usuario/prestamos}">Prestamos</a></li>
        <li ><a th:href="@{/usuario/pagos}">Pagos o abonos</a></li>
        <li>
          <a th:text="${usuario.nombre}" th:href="@{/usuario/perfil}">Bienvenido </a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a href="#">
                  <form method="POST" th:action="@{/logout}">
                    <input type="submit" value="Cerrar sesión"/>
                  </form>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="alert alert-success" th:if="${success !=null}" th:text=${success}></div>
  <div class="alert alert-danger" th:if="${error !=null}" th:text=${error}></div>
  <div class="alert alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
  <div class="alert alert-info" th:if="${info !=null}" th:text=${info}></div>
</header>
<footer th:fragment="footer">
  <script th:src="@{/uikit/js/uikit.min.js}"></script>
  <script th:src="@{/uikit/js/uikit-icons.min.js}"></script>
</footer>
</body>
</html>
