<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
</head>
<body>
    <header th:replace="plantillas/plantilla :: header"></header>
    <main class="uk-container">
      <div>
          <form method="POST" th:object="${usuarioObject}" th:action="@{/usuario/editar-perfil}" enctype="multipart/form-data">
              <h3>Datos Personales</h3>
              <label for="usuarioObject.nombre">Nombre: </label>
              <input type="text" th:field="${usuarioObject.nombre}"/>
              <br/>
              <label for="usuarioObject.apellidoPaterno">Apellido Paterno: </label>
              <input type="text" th:field="${usuarioObject.apellidoPaterno}"/>
              <br/>
              <label for="usuarioObject.apellidoMaterno">Apellido Materno: </label>
              <input type="text" th:field="${usuarioObject.apellidoMaterno}"/>
              <br/>
              <label for="usuarioObject.email">Email: </label>
              <input type="text" th:field="${usuarioObject.email}"/>
              <br/>
              <label for="usuarioObject.numeroTelefonico">Número Telefónico: </label>
              <input type="text" th:field="${usuarioObject.numeroTelefonico}"/>
              <br/>
              <div class="uk-margin">
                  <label for="fotografiaPerfil">Subir fotografía</label>
                  <div class="input-group mb-1">
                      <input type="file" class="form-control" id="fotografiaPerfil" name="fotografiaPerfil"/>
                  </div>
              </div>
              <input type="hidden" name="password" th:field="${usuarioObject.password}"/>
              <input type="hidden" name="rol" th:field="${usuarioObject.rol}"/>
              <input type="hidden" name="id" th:field="${usuarioObject.id}"/>
              <button type="submit" class="uk-button uk-button-default">Enviar</button>
          </form>
      </div>
    </main>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>